.footer
  .user-menu
    span.user-menu_profile-pic
    span.user-menu_username
    img.connection_icon(src="data:image/png;base64,iVBORw0KGgoAAAAN...")
    span.connection_status online
  .input-box
    input.input-box_text(type="text")